@use '../../../styles/colors.scss' as *;

.motion-container {
    display: flex;
    flex-direction: row;

    .container {
        background-color: $primary;
        width: 285px;
        height: 1117px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px;

        .logo-image {
            width: 230px;
            height: 48px;
            margin: 8px;
            margin-bottom: 48px;
        }
    
        .list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 260px;
            height: 55px;
            cursor: pointer;
            padding: 12px 16px 12px 32px;
            text-decoration: none;

            &.active {
                background-color: $selected;
                border-radius: 5px;
            }
    
            .icon {
                width: 24px;
                height: 24px;
            }

            .arrow-down-style {
                width: 14px;
                height: 14px;
            }
    
            .list-item {
                font-size: 20px;
                font-weight: 400;
                color: $text-color;
                text-decoration: none;
            }
        }
    }

    .closed-menu {
        background-color: $primary;
        width: 36px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        cursor: pointer;

        .arrow {
            width: 12px;
            height: 16px;
        }
    }

    @media screen and (max-width: 900px) {
        display: none
    }
}