@use '../../styles/colors.scss' as *;

.container-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 32px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.label-field {
    width: 100%;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: $input-border;
    margin-bottom: 8px;
}

.input-field {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    width: 612px;
    height: 54px;
    border-radius: 4px;
    border: none;
    background-color: $background-card;
    padding: 16px 24px;
    &:focus {
        outline: none;
    }
    &::placeholder {
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        color: #CCD2DB;
    }

    @media screen and (max-width: 768px) {
        font-size: 14px;
        width: 90vw;
        height: 36px; 
        padding: 10px 12px; 
    }
    
}

